* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  
  body {
    background: #14274e;
    color: #f1f6f9;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
  }
  /* Nav Bar starting */
  :root {
    --navbar-bg-color: hsl(202, 40%, 96%);
    --navbar-text-color: hsl(220, 29%, 31%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
  }
  .container {
    /* max-width: 1000px; */
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }
  #navbar {
    --navbar-height: 64px;
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
  }
  .navbar-item {
    margin: 0.4em;
    width: 100%;
  }
  
  .home-link,
  .navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .home-link:focus,
  .home-link:hover {
    color: var(--navbar-text-color-focus);
  }
  
  .navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 5px;
  }
  
  .navbar-link:focus,
  .navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-contrast);
  }
  .navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
  }
  
  .navbar-toggle:focus .icon-bar,
  .navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
  }
  #navbar.opened .navbar-toggle .icon-bar:first-child,
  #navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
  }
  
  #navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
  }
  
  #navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
  }
  
  #navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
  }
  .navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
  }
  #navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
  }
  
  /* modle like style */
  .navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--navbar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  #navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
  }
  /* desktop style */
  @media screen and (min-width: 700px) {
    .navbar-toggle {
      display: none;
    }
  
    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
      visibility: visible;
      opacity: 1;
      position: static;
      display: block;
      height: 100%;
    }
  
    #navbar .navbar-links,
    #navbar.opened .navbar-links {
      margin: 0;
      padding: 0;
      box-shadow: none;
      position: static;
      flex-direction: row;
      list-style-type: none;
      max-height: max-content;
      width: 100%;
      height: 100%;
    }
  
    #navbar .navbar-link:last-child {
      margin-right: 0;
    }
  }
  /* Nav Bar ending */
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Article post stuff start xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
  .post-sidebar {
    display: flex;
    justify-content: space-around;
  }
  .post {
    font-size: 1rem;
    text-align: left;
    margin: 7rem 2rem 2rem 2rem;
    padding: 0.7rem;
    text-decoration: none;
    background-color: #394867;
    /* background-color: #1b262c; */
    /* color: #1b262c; */
    border-radius: 8px;
    height: 100%;
  }
 .img{
   text-align: center;
 }

  .post > img {
    display: block;
    padding-bottom: 10px;
    margin: 1rem auto;
    width: 100%;
    height: 100%;
    /* height: auto; */
    max-width: 640px;
    max-height: 360px;
  }
  .post > h1 {
    text-align: center;
    /* text-decoration: underline; */
  }
  .post > h2 {
    text-align: center;
    /* text-decoration: underline; */
  }
  .post > h3 {
    text-align: center;
    font-size: 1.5rem;
  }
  .post > p {
    text-align: left;
    font-size: 1.2rem;
  }

  .post > iframe {
    display: block;
    margin: 1rem auto;
    width: 100%;
    /* height: 300px;
    max-width: 600px; */
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Article post stuff end xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

  /*   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Sidebar Staring xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
  .side-bar {
    display: flex;
    /* justify-content: start; */
    flex-direction: column;
    margin-top: 80px;
  }
  .side-post {
    text-align: center;
    background-color: #394867;
    margin: 2rem;
    padding: 0.5rem;
    width: 18.75rem;
    border-radius: 8px;
  }
  .side-post > img {
    width: 100%;
    /* height: 100%; */
  }
 
  @media (max-width: 1000px) {
    .side-post {
      display: none;
    }
    .post {
      font-size: 0.7rem;
      margin: 5.5rem 1rem 1rem 1rem;
      padding: 0.5rem;
    }
  }
  /*   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Sidebar Ending xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
  /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Download Button starting xxxxxxxxxxxxxxx */
  .link {
    color: white;
  }
  .download-btn {
    display: block;
    margin: 2rem auto;
    text-align: center;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #111;
    color: #fff;
  }
  
  .download-btn:hover {
    background-color: #fff;
    color: #111;
  }
  .link:hover {
    color: black;
  }
  /* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Download Button Ending xxxxxxxxxxxxxxxxxxxxxxxxx */
  /*   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx bottom content starting xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
  .bottom-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .bottom-post {
    width: 18.75rem;
    height: 100%;
    background-color: #394867;
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 8px;
  }
  .bottom-post > img {
    width: 100%;
    /* height: 100%; */
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  a:visited {
    text-decoration: none;
  }
  /*   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx bottom content Ending xxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
  /*  */
  #footer > hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(255, 251, 251, 0.75),
      rgba(0, 0, 0, 0)
    );
  }
  #footer {
    /* position: absolute; */
    width: 100%;
    height: 60px;
    text-align: center;
  }